In [1]:
import pandas as pd
import time 
from bs4 import BeautifulSoup as bs
from splinter import Browser
import lxml

In [2]:
!which chromedriver

/usr/local/bin/chromedriver

In [3]:
executable_path = {"executable_path":"/usr/local/bin/chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

In [5]:
#news title article scrape
url="https://mars.nasa.gov/news/"
browser.visit(url)
time.sleep(2)
html =browser.html
soup=bs(html, 'html.parser')
slide=soup.find("li",class_="slide")
title=slide.find('div',class_='content_title').text
title

'The MarCO Mission Comes to an End'

In [6]:
#scrape the Latest paragrapg Text
paragraph = slide.find("div",class_="article_teaser_body").text
paragraph

'The pair of briefcase-sized satellites made history when they sailed past Mars in 2019.'

In [7]:
# Visit the url for JPL Featured Space Image [here](https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars).
# Use splinter to navigate the site and find the image url for the current Featured Mars Image 
#and assign the url string to a variable called `featured_image_url`.
# Make sure to find the image url to the full size `.jpg` image.
# Make sure to save a complete url string for this image.
image_url_featured = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(image_url_featured)
browser.find_by_id('full_image').click()
time.sleep(2)
browser.click_link_by_partial_text('more info')

In [8]:
html_image = browser.html
soup=bs(html_image,'html.parser')

In [9]:
featured_img_url = soup.find("img",class_="main_image")['src']
#featured_img_url =features_img_url_raw.split(',')[1] 
main_url = "https://www.jpl.nasa.gov" 
#Concatenate web url with scrapped route                                                        
featured_img_url =main_url + featured_img_url
#display full link to featured image 
featured_img_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16227_hires.jpg'

In [ ]:
# Visit the Mars Weather twitter account [here](https://twitter.com/marswxreport?lang=en) 
#and scrape the latest Mars weather tweet from the page. Save the tweet text for the weather report 
#as a variable called `mars_weather`.
# mars_weather = 'Sol 1801 (Aug 30, 2017), Sunny, high -21C/-5F, low -80C/-112F, pressure at 8.82 hPa, daylight 
#06:09-17:55'

In [ ]:
url = "https://twitter.com/marswxreport?lang=en"
browser.visit(url)
html =browser.html
weather_soup=bs(html, 'html.parser')
mars_weather_tweet = weather_soup.find("div",
                                      attrs ={
                                            "class":"tweet",
                                            "data_name":"Mars Weather"
                                      })
mars_weather_tweet

In [ ]:
mars_weather = mars_weather_tweet.find("P","tweet-text").text()
mars_weather

In [11]:
### Mars Facts
#Visit the Mars Facts webpage [here](https://space-facts.com/mars/) and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.
#Use Pandas to convert the data to a HTML table string
mars_df = pd.read_html("http://space-facts.com/mars/")[0]
#print(mars_df)
mars_df.columns =["Description", "Value"]
mars_df.set_index("Description", inplace = True)
mars_df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers